<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <table>
    <tr>
       <th>Dimension</th><th>Quantity</th><th>Factory: rx</th>
    </tr>
 
    <% for (var i = 0; i < products.length; /* I save the data in a variable 'products', I don't know how you named your variable  */  i++) { %>
     <tr>
       <td><%= products[i].NAME %></td>
       <Td>
        <a href="/details/<%= products[i].ID %>">click</a>
       </Td>
     </tr>    
    <% } %>
 </table>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>